
/*
   Cores
   ========================================================================== */
   $black: #000;
   $white: #fff;


/*
   Fontes
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css?family=Lato:wght@400,700&display=swap');
   @import url('https://fonts.googleapis.com/css?family=Nunito:wght@300,400,600,700&display=swap');

   $font-nunito: 'Nunito', Helvetica, Arial, sans-serif;
   $font-lato: 'Lato', Helvetica, Arial, sans-serif;
    