
/*
   Cores
   ========================================================================== */


/*
   Fontes
   ========================================================================== */

   @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

    $font-open-sans: 'Open Sans', Helvetica, Arial, sans-serif;
    $font-raleway: 'Raleway', Helvetica, Arial, sans-serif;
    
    // Responsive & Mobile settings
    $responsive-min-width: 100px;
    $responsive-max-width: 760px;
    $container-width: 1644px;
