/* ======================================
Header
========================================= */

.c-header{
    .container{
        display: flex;
        justify-content: space-between;
    }

    &__logo{
        span{
            display: none;
        }
    }

    &__boxElements{
        display: flex;

        &--miniCart{
            display: flex;
        }
    }
}