/* ======================================
Footer
========================================= */

.c-news{
    background-color: #F2F2F2;
    font-family: $font-lato;
    padding: 5%;

    @include bkp('desktop'){
        padding: 25px 0 35px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        @include rem('font-size', 22px);
        color: #333333;
        margin-bottom: 15px;
    }

    button,
    input{
        border-radius: 5px;
        
        @include bkp('desktop'){
            &:not(:last-child){
                margin-right: 8px;
            }
        }
    }

    form{
        @include bkp('mobile'){
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        input{
            height: 48px;
            background-color: $white;
            color: #585858;
            padding: 15px;

            @include bkp('mobile'){
                &:nth-child(2){
                    margin: 20px 0 10px 0;
                }
            }
            
            @include bkp('desktop'){
                width: 280px;
            }
        }
        button{
            height: 48px;
            background-color: $black;
            color: $white;
            @include rem('font-size', 14px);
            
            @include bkp('desktop'){
                width: 140px;
            }
        }
    }
}