/* ======================================
Footer
========================================= */

.c-news{
    background-color: #F2F2F2;
    font-family: $font-lato;
    padding: 5%;

    @include bkp('desktop'){
        padding: 25px 0 35px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        @include rem('font-size', 22px);
        color: #333333;
        margin-bottom: 15px;
    }

    .sucesso{
        display: none;
        text-align: center;

        p{
            color: #333;
            strong{
                @include rem('font-size', 14px);
                color: $black;
            }
        }

        button{
            width: 328px;
            height: 48px;
            border-radius: 5px;
            color: $white;
            @include rem('font-size', 14px);
            background-color: $black;
            font-weight: bold;
            margin-top: 15px;
        }
    }

    button,
    input{
        border-radius: 5px;
        
        @include bkp('desktop'){
            &:not(:last-child){
                margin-right: 8px;
            }
        }
    }

    form{
        display: flex;

        @include bkp('mobile'){
            width: 100%;
            flex-direction: column;
        }

        div{
            @include bkp('mobile'){
                width: 100%;
                &:nth-child(2){
                    margin: 20px 0 10px 0;
                }
            }

            input{
                width: 100%;
                height: 48px;
                background-color: $white;
                color: #585858;
                padding: 15px;

                @include bkp('desktop'){
                    width: 280px;
                }

                &.erro{
                    border: 1px solid #D7182A;
                }
            }

            span{
                color: #D7182A;
                display: none;
                margin: 5px 0 0 5px;
                &.erro{
                    display: block;
                }
            }
        }

        button{
            height: 48px;
            background-color: $black;
            color: $white;
            @include rem('font-size', 14px);
            
            @include bkp('desktop'){
                width: 140px;
            }
        }
    }
}