<!DOCTYPE html>
<html lang="pt" id="wrapper">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Corebiz</title>

  <!-- Styles -->
  <link href="../build/arquivos/00-Corebiz-2021-Styles.css" rel="stylesheet" />
</head>
<body>


</body>
<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- OWL CAROUSSEL-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
<!-- SCRIPTS -->
<script src="../build/arquivos/00-Corebiz-2021-Scripts.js"></script>
</html>       