<!DOCTYPE html>
<html lang="pt" id="wrapper">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Corebiz</title>

  <!-- Styles -->
  <link href="../build/arquivos/00-Corebiz-2021-Styles.css" rel="stylesheet" />
</head>
<body>

<header class="c-header">
   <div class="container">
     <h1 class="c-header__logo">
       <a href="index.html" title="Corebiz">
         <img src="../build/arquivos/svgs/logo.svg" alt="">
         <span>Corebiz</span>
       </a>
     </h1>

     <form action="#" class="c-header__search">
       <input type="text" name="text" id="text" placeholder="O que está procurando?">
       <button type="submit">
        <img src="../build/arquivos/svgs/lupa.svg" alt="">
       </button>
     </form>

     <div class="c-header__boxElements">
        <a href="#" class="c-header__boxElements--minhaConta">
          <i>
            <img src="../build/arquivos/svgs/login.svg" alt="">
          </i>

          <span href="#">Minha Conta</span>
        </a>

        <a href="#" class="c-header__boxElements--miniCart">
          <i>
            <img src="../build/arquivos/svgs/carrinho.svg" alt="">
          </i>

          <div class="circle">
            <span>1</span>
          </div>
        </a>
     </div>
   </div>
</header>

<section class="c-news">
  <div class="container">
    <h2>Participe de nossas news com promoções e novidades!</h2>

    <form action="#">
      <input type="text" name="" id="" placeholder="Digite seu nome">
      <input type="email" name="" id="" placeholder="Digite seu email">
      <button type="submit">Eu quero!</button>
    </form>
  </div>
</section>

<footer class="c-footer">
  <div class="container">
    <div class="c-footer__localizacao">
      <h3>Localização</h3>

      <div class="c-footer__localizacao--infos">
        <address>Avenida Andrômeda, 2000. Bloco 6 e 8<br />
          Alphavile SP 
        </address>
        <a href="mailto:brasil@corebiz.ag" title="brasil@corebiz.ag">brasil@corebiz.ag</a>
        <a href="tel:551130901039" title="+55 11 3090 1039">+55 11 3090 1039</a>
      </div>
    </div>

    <div class="c-footer__contatos">
      <a href="#" title="ENTRE EM CONTATO">
        <i>
          <img src="../build/arquivos/svgs/email.svg" alt="ENTRE EM CONTATO">
        </i>
        <span>ENTRE EM CONTATO</span>
      </a>

      <a href="#" title="FALE COM O NOSSO CONSULTOR ONLINE">
        <i>
          <img src="../build/arquivos/svgs/telefone.svg" alt="FALE COM O NOSSO CONSULTOR ONLINE">
        </i>
        <span>FALE COM O NOSSO<br> CONSULTOR ONLINE</span>
      </a>
    </div>

    <div class="c-footer__assinaturas">
      <a href="#" title="Created by">
        <span>Created by</span>
        <img src="../build/arquivos/svgs/logo-footer.svg" alt="">
      </a>
      <a href="#" title="Powered by">
        <span>Powered by</span>
        <img src="../build/arquivos/svgs/vtex.svg" alt="">
      </a>
    </div>
  </div>
</footer>

</body>
<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- OWL CAROUSSEL-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
<!-- SCRIPTS -->
<script src="../build/arquivos/00-Corebiz-2021-Scripts.js"></script>
</html>       